body{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
color: #282425;
line-height: 1.5;
margin: 0;

}

section{
    padding: 50px 15%;
    overflow: auto;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
}


h2, h3 {font-size: 25px;}
h2 {text-align: center;
}

.Profil {
    width: 350px;
    border-radius: 30px 0 30px 0;
    float:left;
    padding-left: 20%;
}

.container img{
     opacity: 0.3;
}

.center{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.skills{
    background-color: #EBE9E6;
}

.Paw{
    Width: 1.8%;
    float:left;
}

.Pejsci{
    background-color: #645E51;
    color: #EBE9E6;
}

.Pejsci img{
    width: 250px;
    border-radius: 50%;
    border: 4px solid white;
}
.Chrtik img{
    float: right;
}

.Kontakt,
.Paticka{
    text-align: center;
}
